
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff7fb;
}

h1, h2 { text-align: center; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a62e8c;
  padding: 10px 30px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.flower {
  background: url('https://cdn.pixabay.com/photo/2022/08/20/16/01/lily-7399492_960_720.jpg') center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.btn {
  background: #a5036a;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.shop {
  padding: 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #c53fa8;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.about, .contact {
  padding: 40px;
  text-align: center;
}

input, textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

footer {
  background:#a62e8c;
  color: white;
  text-align: center;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.hidden { display: none; }


